.login-modal {
    width: 500px;
    height: fit-content;
    border-radius: 20px;
    display: flex;
    background-color: rgb(80, 196, 242);
    align-items: center;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.login-modal-gif {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.errors-message {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(188, 21, 21);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.login-modal-form {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}

.login-modal-labels {
    width: 310px;
}

.login-modal-button {
    width: 300px;
    height: 35px;
    border-radius: 20px;
    background-color: white;
    border: solid 1px white;
    color: rgb(80, 196, 242);
    margin-top: 2px;
    cursor: pointer;
}

.login-modal-demoUser {
    cursor: pointer;
    align-items: center;
    flex-direction: column;
    display: flex;
    border-radius: 20px;
    height: 26px;
    color: white;
    font-weight: 800;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-modal-demoUser:hover {
    text-decoration: underline;
}

.login-modal-username {
    width: 95%;
    border-radius: 10px;
    margin-left: 5px;
    height: 45px;
    border: none;
    background-color: rgb(white);
}

.login-modal-password {
    width: 95%;
    border-radius: 10px;
    margin-left: 5px;
    height: 45px;
    border: none;
    background-color: rgb(white);
}

input.login-modal-username::placeholder {
    color: rgb(80, 196, 242);
    opacity: 1;
}

input.login-modal-password::placeholder {
    color: rgb(80, 196, 242);
    opacity: 1;
}

.login-modal-email-red {
    width: 95%;
    border-radius: 10px;
    margin-left: 5px;
    height: 45px;
    border: 1px red solid;
    background-color: rgb(white);
    box-shadow: 0px 0px 7px 2px rgb(255, 0, 0);
    margin-bottom: 5px;
}

.login-modal-password-red {
    width: 95%;
    border-radius: 10px;
    margin-left: 5px;
    height: 45px;
    border: 1px red solid;
    background-color: rgb(white);
    box-shadow: 0px 0px 7px 2px rgb(255, 0, 0);
}

.oauth-button {
    border: none;
    background-color: white;
    width: 300px;
    border-radius: 20px;
    height: 35px;
    display: flex;
    margin-top: 8px;
}

.efghj1 {
    display: flex;
    justify-content: left;
    margin-top: 3px;
}

.efghj2 {
    display: flex;
    justify-content: space-around;
    height: 20px;
    text-decoration: none;
    margin-left: 55px;
    margin-top: 7px;
    color: rgb(53, 50, 50);
    font-size: 14px;
}

.efghj3 {
    text-decoration: none;
}
