.fgh24 {
    background-color: rgb(113, 123, 106);
    border: none;
    font-size: 20px;
    color: rgb(42, 42, 42);
    font-weight: bolder;
}

.fgh24:hover {
    background-color: rgb(113, 123, 106);
    border: none;
    font-size: 20px;
    color: rgb(255, 0, 0);
    font-weight: bolder;
}