.confirm-delete-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 195px;
  }
  
  .confirm-delete-container > h2 {
    text-align: center;
  }
  
  .confirm-delete-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .confirm-delete-buttons-container > button {
    height: 25px;
    width: 250px;
    border-radius: 10px;
    border: black solid 1px;
    background-color: rgb(189, 189, 189);
    font-size: 15px;
    font-weight: bolder;
  }
  
  .yes-button {
    text-align: center;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(238, 77, 77);
    width: 60px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .no-button {
    text-align: center;
    cursor: pointer;
    background-color: #565555;
    width: 60px;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  