
  .my-pinfeed-masonry-grid {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    width: auto;
  }
  
  .my-pinfeed-masonry-grid_column {
    padding-left: 5px;
  }