.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-bar-logo {
  color: red;
  margin-right: 10px;
  margin-left: 10px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar-left-side {
  display: flex;
  justify-content: space-between;
  width: 120px;
  padding: 5px;
}