.signup-modal {
    width: 500px;
    height: 750px;
    border-radius: 20px;
    display: flex;
    background-color: rgb(80, 196, 242);
    align-items: center;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  
  .signup-modal-gif {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  
  .signup-modal-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
  
  .signup-modal-labels {
    width: 310px;
  }
  
  .signup-modal-button {
    width: 310px;
    height: 35px;
    border-radius: 20px;
    background-color: white;
    border: solid 3px white;
    color: rgb(80, 196, 242);
    margin-top: 11px;
    cursor: pointer;
  }
  .signup-modal-username {
    width: 95%;
    border-radius: 10px;
    height: 35px;
    border: solid 3px white;
    background-color: white;
  }
  
  .signup-modal-password {
    width: 95%;
    border-radius: 10px;
    height: 35px;
    border: solid 3px white;
    background-color: white;
  }
  
  .signup-modal-confirm-password {
    width: 95%;
    border-radius: 10px;
    height: 35px;
    border: solid 3px white;
    background-color: white;
  }
  
  input.signup-modal-username::placeholder {
    color: rgb(80, 196, 242);
    opacity: 1;
  }
  
  input.signup-modal-password::placeholder {
    color: rgb(80, 196, 242);
    opacity: 1;
  }
  
  input.signup-modal-confirm-password::placeholder {
    color: rgb(80, 196, 242);
    opacity: 1;
  }
  