.each-feed-pin {
    padding: 7px;
    margin-top: 5px;
    max-width: 240px;
  }

.each-feed-pin-img {
    max-width: 240px;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
}