.confirm-delete-pin-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 195px;
}

.confirm-delete-pin-container > h2 {
  text-align: center;
}

.confirm-delete-pin-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.confirm-delete-pin-buttons-container > button {
  height: 25px;
  width: 250px;
  border-radius: 10px;
  border: black solid 1px;
  background-color: rgb(189, 189, 189);
  font-size: 15px;
  font-weight: bolder;
}
