.my-board-div {
  padding: 7px;
  margin-top: 5px;
  width: 240px;
}

#my-board-coverpic {
  max-width: 240px;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
}

.lkll4 {
  margin-left: 10px;
  font-size: 14px;
  color: rgb(65, 61, 61);
  font-weight: bold;
}